/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 * 
 * Imported from version 0.0.1 as of 2019-11-04 from [[:en:MediaWiki:Gadget-scribe.js]]
 * Using this script allows you to edit articles in underrepresented wikipedias, see [[User:Eugene233/scribe]]
 */

 #mw-scribe-action-page-title{
	font-size: 24px;
	margin-bottom: 20px;
	margin-right: 60px;
	text-decoration: underline;
}

#mw-scribe-action-button-group{
    overflow: hidden;
    max-width: inherit;
    margin-bottom: -3px;
    flex-wrap: wrap;
    width: 100%;
}

.mw-scribe-ref-btn {
	margin-left: 175px;
    margin-top: 20px;
    z-index: 1;
}

.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
	width: 145px;
}

.mw-scribe-add-reference-button{
	  padding: 10px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
}

.oo-ui-textInputWidget .oo-ui-inputWidget-input {
	border: 0px;
}

#mw-scribe-slider {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 0.5px solid black;
  width: 377px;
  height: 120px;
  background-color: grey;
  margin-top: 25px;
  z-index: 1;
}

/*.oo-ui-buttonElement-button{*/
/*	border-radius: 40%;*/
/*    z-index: 1;*/
/*    background-color: green;*/
/*    margin-left: 160px;*/
/*    margin-top: -125px;*/
/*}*/

.mw-scribe-ref-box {
    height: 70px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 0px;
    width: 350px;
    padding-left: 5px;
    margin-top: 5px;
}

.mw-scribe-ref-link-box{
	padding-top: 20px;
    display: flex;
}

.mw-scribe-ref-link{
	margin-top: 5px;
    margin-left: 5px;
    width: 200px;
    display: flex;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mw-scribe-ref-text {
	width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 1.5em;
    /* height: 3em; */
}

#mw-scribe-ref-domain{
	float: right;
    padding-left: 80px;
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.mw-scribe-reference-section {
	margin-top: -30px;
    margin-left: 15px
}

/*S TYLING FOR THE SLIDER */

.slideshow-container {
  /*max-width: 1000px;*/
  /*position: relative;*/
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
