/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 * 
 * Imported from version 0.0.1 as of 2019-11-04 from [[:en:MediaWiki:Gadget-scribe.js]]
 * Using this script allows you to edit articles in underrepresented wikipedias, see [[User:Eugene233/scribe]]
 */

 #mw-scribe-action-page-title{
	font-size: 34px;
	margin-bottom: 17px;
	margin-right: 60px;
	text-decoration: underline;
	opacity: 0.5;
}

#mw-scribe-action-button-group{
	overflow: hidden;
  max-width: inherit;
  margin-bottom: -3px;
  flex-wrap: wrap;
  width: 100%;
  opacity: 0.7;
  border-bottom: none;
}

.mw-scribe-ref-btn {
  margin-top: 20px;
  z-index: 1;
  text-align: center;
  display: inherit;
}

.slideshow-container {
  width: 433px;
}

.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
	width: 145px;
}

.mw-scribe-add-reference-button{
	padding: 10px;
	text-align: cent375er;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.mw-scribe-ref-box {
  height: 70px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-left: 0px;
  width: 93%;
  margin-top: 5px;
  position: relative;
  margin-bottom: 0.5px;
}

.mw-scribe-ref-link-box{
	padding-top: 20px;
  display: flex;
}

.mw-scribe-ref-title{
	font-size: 12px;
    /* float: left; */
    margin-left: 20px;
    margin-top: -12px;
    margin-bottom: 7px;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    white-space: pre-wrap;
    overflow: hidden;
}

.mw-scribe-ref-link{
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    word-break: break-all;
    height: 1em;
    text-overflow: hidden;
    overflow: auto;
    /*with: 325px to be added when #proposed is removed*/
}

.mw-scribe-ref-text {
	width: 100%;
    text-overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -4px;
    height: 3em;
    font-size: 9.5px;
    line-height: 1.5em;
    white-space: pre-wrap;
    overflow: hidden;
}

#mw-scribe-ref-domain{
  float: right;
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.mw-scribe-reference-section {
  margin-top: -30px;
  width: 300px;
}

/*S TYLING FOR THE SLIDER */

.slideshow-container {
  margin-left: 0px;
  position: relative;
  border-radius: 5px;
  border: 0.5px solid black;
  height: 120px;
  background-color:#36c;
  margin-top: 25px;
}

/*--- GOOGLE PIXEL AND PIXEL 2X*/
@media (min-width: 376px) and (max-width: 411px) {
	.mw-scribe-reference-section{
		margin-left: 18px;
	}
	.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button, .oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
		width: 117px;
	}
	  .slideshow-container {
		  width: 310px;
		}
	#mw-scribe-edit-section-menu-btn-1{
	  width: 33%;
	}
	#mw-scribe-edit-section-menu-btn-2{
	  width: 33%;
	}
	#mw-scribe-edit-section-menu-btn-3{
	  width: 32%;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 375px) and (max-width: 410px) {

 .mw-scribe-reference-section{
		margin-left: 0.1px;
	}
	.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button, .oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
		width: 108px;
	}
  .slideshow-container {
	  width: 310px;
	}
  #mw-scribe-edit-section-menu-btn-1{
    width: 33.5%;
    float: left;
  }

  #mw-scribe-edit-section-menu-btn-2{
    width: 22%;
  }

  #mw-scribe-edit-section-menu-btn-3{
    width: 31.7%;
    float:left;
  }
}

@media (min-width:360px) and (max-width:361px) {
	.mw-scribe-reference-section{
		margin-left: 18px;
	}
	.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button, .oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
		width: 117px;
	}

	#mw-scribe-edit-section-menu-btn-1{
	  width: 33%;
	  float: left;
	}
	#mw-scribe-edit-section-menu-btn-2{
	  width: 30%;
	  float: left;
	}
	#mw-scribe-edit-section-menu-btn-3{
	  width: 30.7%;
	  float: right;
	}
	.slideshow-container {
	  width: 310px;
	}
}


@media (min-width:414px) and (max-width:415px) {
	.mw-scribe-reference-section{
		margin-left: 18px;
	}
	.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button, .oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button{
		width: 117px;
	}

	#mw-scribe-edit-section-menu-btn-1{
	  width: 33%;
	}
	#mw-scribe-edit-section-menu-btn-2{
	  width: 33.3%;
	}

	#mw-scribe-edit-section-menu-btn-3{
	  width: 33.3%;
	}
	.slideshow-container {
	  width: 310px;
	}
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mw-scribe-select-info{
	margin-top: 10px;
  margin-bottom: 10px;
  font-size: larger;
  text-align: left;
  font-weight: bold;
  opacity: 0.8;
}

.mw-scribe-section-name-text{
	font-size: 20px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.mw-scribe-text-editor{
	opacity: 0.5;
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
